h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align:center;
    text-shadow: 2px 2px 4px #bb0c0c;
    te
}
p{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align:justify;
}
.faltante{
    color: blue;
}
#listo{
    color: green;
}